@import '../../page.module.scss';

// Animações
$wave-amplitude: 8px;

@keyframes wave {
    to {
        transform: translateY(-#{$wave-amplitude});
    }
}

@keyframes showCharacters {
    from {
        bottom: -2%;
    }

    to {
        bottom: 1%;
    }
}

@keyframes hideCharacters {
    from {
        bottom: 1%;
    }

    to {
        bottom: -2%;
    }
}

// Estilização principal
#charactersSelection {
    width: 100%;
    height: 100lvh;
    overflow-y: scroll;
    background-color: #00000060;
   
    .charactersHeader {
        position: sticky;
        width: 100%;
        height: 100px;
        background-color: #1E160F25;
        backdrop-filter: blur(2px);

        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        z-index: 5;

        div {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            row-gap: 4px;

            h2 {
                @include selectCharactersTitle();
                text-align: center;
            }

            h4 {
                @include selectCharactersCaption();
                text-align: center;
            }
        }

        .startDialogueButton {
            position: absolute;
            right: 10%;
            padding: 10px 18px;

            font-family: inherit;
            font-size: 16px;
            color: #fff;
            border: 2px solid #A49573;
            border-radius: 10px;
            
            transition: all 0.3s ease-in;
            cursor: pointer;

            &:hover {
                transform: scale(1.04);
            }

            &.allowStart {
                background-color: #224413;
            }

            &.notAllowStart {
                background-color: #932E1F;
            }
        }
    }
    
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 14px;
        margin-top: 14px;
    }

    .selected {
        width: 500px;
    }

    .showSelectedCharactersContainer {
        position: fixed;
        right: 2%;
        bottom: 4px;
        display: flex;
        column-gap: 8px;
        
        &.addAnimation {
            animation: showCharacters 2s forwards ease;
        }

        &.removeAnimation {
            animation: hideCharacters 2s forwards ease;
        }

        .showSelectedCharactersContent {
            border-radius: 8px;

            p {
                font-size: 16px;
                color: #fff;
                padding: 4px 12px;
                
            }

            &.chrom {
                @include characterButtonColor($chrom);
            }

            &.cordelia {
                @include characterButtonColor($cordelia);
            }

            &.gaius {
                @include characterButtonColor($gaius);
            }

            &.henry {
                @include characterButtonColor($henry)
            }

            &.lucina {
                @include characterButtonColor($lucina);
            }

            &.nowi {
                @include characterButtonColor($nowi);
            }

            &.tharja {
                @include characterButtonColor($tharja);
            }
        }
    }
}

// Div da tela de erro
.errorDiv {
    position: fixed;
    width: 100%;
    height: 100lvh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 0.5);
    z-index: 6;
    
    div {
        width: 30%;
        background-color: #FFF;
        padding: 10px 20px;
        box-sizing: content-box;
        border-radius: 14px;

        display: flex;
        flex-direction: column;

        h4 {
           @include warningTitle();
        }

        p {
            @include warningText();
            padding: 10px 0px;

            display: inline-block;

            span {
                color: #0029FF;
            }
        }

        button {
            font-size: 18px;
            color: #FFF;
            background-color: #224413;
            border: none;
            border-radius: 8px;
            padding: 5px 25px;
            margin-top: 18px;

            align-self: center;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

// Div da tela de carregamento
.loadingDiv {
    width: 100%;
    height: 100lvh;
    background-color: rgb(0 0 0 / 0.9);

    display: flex;
    justify-content: center;
    align-items: center;

    p {
        @include text-primary();
        display: inline-block;

        span {
            display: inline-block;
            animation: wave 1s infinite alternate;
        }
    }
}

@for $i from 1 through 15 {
    .loadingDiv p span:nth-child(#{$i}) {
        animation-delay: #{0.1s * $i};
    }
}


// Responsividade

@media #{$desktop} {
    #charactersSelection {

        .charactersHeader {

            .startDialogueButton {
                right: 6%;
            }
        }

        .errorDiv {
            
            div {
                width: 36%;
            }
        }
    }
}

@media #{$tablet} {
    #charactersSelection {

        .charactersHeader {
            height: 80px;

            .startDialogueButton {
                right: 2%;
            }
        }

        .cards {
            margin-top: 14px;
            grid-template-columns: repeat(1, 1fr);
        }

        .errorDiv {
            
            div {
                width: 44%;
            }
        }
    }
}

@media #{$mobile} {
    #charactersSelection {

        .errorDiv {
            
            div {
                width: 60%;
            }
        }
    }
}