@import '../../page.module.scss';

#selectLanguage {
    position: fixed;
    width: 100%;
    height: 100lvh;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 0.75);
    z-index: 7;

    .languagesContainer {
        position: relative;
        width: 75%;
        height: 85%;

        background-color: #d9d9d9;
        border-radius: 24px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 28px;

        h2 {
            @include title-primary();
        }

        .languagesContent {
            display: flex;
            column-gap: 12px;

            .languagesIcon {
                @include button-primary();
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 8px;

                background-color: transparent;
                transition: filter 0.3s ease-in;
                filter: blur(2.5px);

                &.selected {
                    filter: blur(0px);
                }
            
                svg {
                    width: 150px;
                    height: 150px;
                    
                }
            }
        }
    }
}


// Responsividade

@media #{$desktop} {
    #selectLanguage {

        .languagesContainer {
            width: 80%;
            height: 90%;
            border-radius: 20px;

            .languagesContent {

                .languagesIcon {
                    filter: blur(0);

                    svg {
                        width: 120px;
                        height: 120px;
                    }
                }
            }
        }
    }
}

@media #{$tablet} {
    #selectLanguage {

        .languagesContainer {
            border-radius: 18px;

            .languagesContent {

                .languagesIcon {

                    svg {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}

@media #{$mobile} {
    #selectLanguage {

        .languagesContainer {

            .languagesContent {
                column-gap: 8px;

                .languagesIcon {

                    svg {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}