@import '../../page.module.scss';

@keyframes pageAnimation {
    from {
        transform: translateY(-560px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes showCharactersAnimation {
    25%{ opacity: 0; }
    50%{ opacity: 0; }
    75%{ opacity: 0; }
    100%{ opacity: 1; }
}

@mixin show-elements-animation {
    animation: showCharactersAnimation 1.5s forwards ease;
}

#gamePage {
    position: fixed;
    width: 100%;
    height: 100%;
    
    overflow-y: hidden;

    display: flex;
    align-items: flex-end;

    .characters {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
    
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;

        .characterImageContainer {
            position: relative;
            width: 45%;
            height: 80%;
            
            display: flex;
            justify-content: center;
            align-items: flex-end;

            &:first-child img {
                transform: rotateY(180deg);
            }

            img {
                @include show-elements-animation();
                width: 80%;
                height: 100%;
                transition: filter 0.5s ease-in-out;
                opacity: 0;
                object-fit: cover;
                object-position: center;

                &.speaking {
                    filter: brightness(100%);
                }

                &.notSpeaking {
                    filter: brightness(50%);
                }
            }
        }
        
    }

    // Caixa de diálogo
    .dialogBox {
        @include show-elements-animation();
        position: absolute;
        width: 45%;
        z-index: 2;
        bottom: 2%;
        opacity: 0;

        &.leftCharacter {
            left: 2%;
        }

        &.rightCharacter {
            right: 2%;
        }

        .characterName {
            position: relative;
            height: 50px;

            &.leftCharacter2 {

                h3, img {
                    left: 10%;
                }
            }
    
            &.rightCharacter2 {
                
                h3, img {
                    right: 10%;
                }
            }

            h3 {
                @include title-dialogues();
                position: absolute;
                width: 280px;
                height: 100%;

                top: 24%;

                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 4;
            }
            
            img {
                position: absolute;
                width: 280px;
                height: 100%;
                top: 24%;
                z-index: 3;
            }
        }

        .characterText {
            position: relative;
            width: 100%;
            height: 150px;

            p {
                @include text-dialogues();
                position: absolute;
                width: 95%;
                height: 100%;
                left: 2.5%;
                top: 0;

                display: flex;
                align-items: center;
                z-index: 2;
            }

            img {
                position: relative;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }
        
    }

    .previousButton {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .nextButton {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999;
    }
    
}


// Responsividade

@media #{$desktop} {
    #gamePage {

        .characters {
           
            .characterImageContainer {
                height: 85%;
                
                img {
                    width: 85%;
                }
            }
        }

        .dialogBox {
            width: 50%;

            .characterName {
                height: 45px;

                h3, img {
                    width: 270px;
                }
            }

            .characterText {
                height: 140px;
            }
        }
    }
}

@media #{$laptop} {
    #gamePage {

        .dialogBox {
            width: 55%;
            bottom: 1%;

            &.leftCharacter {
                left: 1%;
            }
    
            &.rightCharacter {
                right: 1%;
            }

            .characterName {
                height: 40px;

                &.leftCharacter2 {

                    h3, img {
                        left: 8%;
                    }
                }
        
                &.rightCharacter2 {
                    
                    h3, img {
                        right: 8%;
                    }
                }

                h3, img {
                    width: 250px;
                }
            }

            .characterText {
                height: 130px;
            }
        }
    }
}

@media #{$tablet} {
    #gamePage {

        .characters {

            .characterImageContainer {
                height: 95%;
            }
        }

        .dialogBox {
            width: 65%;

            .characterName {
                height: 35px;

                h3, img {
                    width: 250px;
                }
            }

            .characterText {
                height: 100px;
            }
        }
    }
}